@font-face {
	font-family: 'Archivo';
	src:
		url('../public/fonts/Archivo/archivoblack-regular-webfont.ttf') format('truetype'),
		url('../public/fonts/Archivo/archivoblack-regular-webfont.woff') format('woff'),
		url('../public/fonts/Archivo/archivoblack-regular-webfont.woff2') format('woff2');
}
@font-face {
	font-family: 'Playfair Nedium';
	src: url('../public/fonts/Playfair/PlayfairDisplay-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Playfair Regular';
	src: url('../public/fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'BoldText';
	src: url('../public/fonts/Playfair/PlayfairDisplay-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Overpass Regular';
	src: url('../public/fonts/Overpass/Overpass-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Overpass Thin';
	src: url('../public/fonts/Overpass/Overpass-ThinItalic.ttf') format('truetype');
}
@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
html,
body {
	margin: 0;
	background-color: rgb(245, 245, 245);
	height: 100%;
}
.gladAnim {
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
